@import "../../../../../global.scss";

.chatContainer {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 2.72875rem;
    padding-right: 2.72875rem;
    padding-bottom: toRem(38);
    padding-top: toRem(32);
    gap: 2.72875rem;

    .chatUsers {
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding-right: toRem(5);

        .chatUsersmesage {
            width: 100%;
            height: 100%;
            gap: 2rem;
            display: flex;
            flex-direction: column;
            align-items: start;

            .newClear {
                display: flex;
                gap: toRem(8);
                width: 100%;

                button {
                    width: toRem(144);
                    height: toRem(37);
                    background: rgba(35, 34, 36, 0.7);
                    border-radius: toRem(19);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #FFFFFF;
                    font-family: 'SF';
                    font-size: toRem(14);
                    font-style: normal;
                    font-weight: 500;
                }

                .clear {
                    color: #ED5152;
                }
            }

            .headerLeftChat {
                display: flex;
                width: toRem(295.93);
                flex-direction: column;
                gap: toRem(22);


                .chatSearch {
                    display: flex;
                    width: 100%;
                    height: toRem(37);
                    background: rgba(35, 34, 36, 0.7);
                    border-radius: toRem(19);
                    display: flex;
                    align-items: center;
                    padding-right: toRem(16);

                    input {
                        flex: 1;
                        height: 100%;
                        font-style: normal;
                        font-weight: 500;
                        font-size: toRem(14);
                        color: rgba(255, 255, 255, 0.23);
                        padding-left: toRem(23);
                        background-color: transparent;
                        padding-right: toRem(6);
                    }

                    button {
                        height: 100%;

                        svg {
                            position: relative;
                            opacity: 1;
                        }
                    }

                }
            }

            .lastMessage {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow-x: hidden;
                overflow-y: auto;
                gap: toRem(14.6);
                scrollbar-width: thin;
                scrollbar-color: #ED5152 #232223;

                // position: relative;
                &::-webkit-scrollbar {
                    width: toRem(0);
                }

                .chatUser {

                    width: toRem(295.93);
                    height: toRem(110);
                    display: flex;
                    background: rgba(35, 34, 36, 0.7);
                    border-radius: toRem(40);
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    padding-left: toRem(36);
                    padding-top: toRem(25);
                    padding-bottom: toRem(25);
                    gap: toRem(20);

                    img {
                        width: toRem(60.4);
                        height: toRem(60.4);
                        border-radius: toRem(20);
                    }

                    .textUserChat {
                        display: flex;
                        // align-items: center;
                        gap: toRem(8.76);
                        flex-direction: column;
                        justify-content: center;

                        h1 {
                            font-family: 'SF';
                            font-style: normal;
                            font-weight: 600;
                            font-size: toRem(15);
                            color: #FFFFFF;
                        }

                        p {
                            font-family: 'SF';
                            font-style: normal;
                            font-weight: 400;
                            font-size: toRem(13);
                            line-height: 1rem;
                            color: #726A72;
                            width: toRem(140.18);
                            height: toRem(32.12);
                            margin-left: toRem(5);
                            // overflow: hidden;
                            overflow-wrap: break-word;
                        }

                    }
                }
            }
        }


    }

    .chatContent {
        display: flex;
        // height: toRem(735);
        flex-direction: column;
        gap: toRem(27);
        width: 100%;

        .header {
            display: flex;
            width: 100%;
            // gap: toRem(406);
            justify-content: space-between;
            // align-items: center;

            .infoUser {
                display: flex;
                gap: toRem(37);
                align-items: center;

                .img {
                    width: toRem(86.15);
                    height: toRem(86.15);
                    // object-fit: cover;
                    border-radius: toRem(30);
                    background-size: cover;
                    background-position: center;
                }

                .nameAndStatus {
                    display: flex;
                    flex-direction: column;
                    gap: toRem(8);

                    h1 {
                        font-family: 'SF';
                        font-style: normal;
                        font-weight: 600;
                        font-size: toRem(29);
                        color: #FFFFFF;
                        display: flex;
                        align-items: flex-end;

                        .activeUser {
                            background-color: #17AFA0;
                        }

                        .room {
                            background-color: transparent;
                        }

                        span {
                            width: toRem(10);
                            height: toRem(10);
                            background-color: #ED5152;
                            border-radius: 50%;
                            position: relative;
                            left: 1rem;
                            bottom: toRem(5);
                        }
                    }

                    p {
                        font-family: 'SF';
                        font-style: normal;
                        font-weight: 400;
                        font-size: toRem(19);
                        color: #979797;
                    }
                }

            }

            .more {
                width: toRem(34);
                height: toRem(34);
                background: #4E4648;
                border-radius: toRem(10);
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }

        .content {
            display: flex;
            width: 100%;
            height: toRem(735);
            background: rgba(35, 34, 36, 0.7);
            border-top-left-radius: toRem(40);
            border-top-right-radius: toRem(40);
            // padding: toRem(33) toRem(30) 0 0;
            flex-direction: column-reverse;

            .messageSend {
                display: flex;
                width: 100%;
                height: toRem(69);
                // max-height: toRem(200);
                background: rgba(29, 27, 30, 0.7);
                padding-bottom: toRem(12);
                padding-top: toRem(13);
                padding-left: toRem(15);
                padding-right: toRem(20);
                align-items: center;

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 2rem;
                        height: 2rem;
                    }
                }

                textarea {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: toRem(44);
                    // max-height: toRem(200);
                    resize: none;
                    font-family: 'SF';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    background-color: transparent;
                    color: #5C5C5C;
                    padding-left: toRem(16);
                    outline: none;
                    padding-top: toRem(9);
                    border: 0;
                    border-right: toRem(1) solid #4E4648;
                    ;
                }

                .send {
                    margin-left: toRem(17);
                }
            }

            .messages {
                display: flex;
                flex-direction: column-reverse;
                // width: 100%;
                height: fit-content;
                height: toRem(600);
                overflow-x: hidden;
                overflow-y: auto;
                padding-top: toRem(33);
                padding-left: toRem(27);
                padding-right: toRem(27);
                padding-bottom: toRem(27);
                gap: toRem(49);

                &::-webkit-scrollbar {
                    width: toRem(0);
                }

                .messageShow {
                    display: flex;
                    flex-direction: row;
                    gap: toRem(22);
                    width: 100%;

                    img {
                        border-radius: 50%;
                        width: toRem(51.71);
                        height: toRem(51.71);
                    }

                    .theTextMsg {
                        width: fit-content;
                        padding: toRem(12) toRem(24);
                        background: linear-gradient(138.3deg, rgba(235, 207, 208, 0.2) 2.36%, rgba(249, 198, 144, 0.2) 164.32%);
                        box-shadow: 0px toRem(4) toRem(10) rgba(0, 0, 0, 0.25);
                        border-radius: 0px toRem(19) toRem(19) toRem(19);
                        font-family: 'SF';
                        font-style: normal;
                        font-weight: 400;
                        font-size: toRem(14);
                        line-height: toRem(17);
                        color: #FFFFFF;
                        align-items: center;
                        max-width: toRem(400);
                        height: fit-content;
                        overflow: hidden;
                        overflow-wrap: break-word;
                        text-align: center;
                        white-space: pre-wrap;
                    }
                }

                .myMessage {
                    flex-direction: row-reverse;

                    .theTextMsg {
                        background: linear-gradient(138.3deg, rgba(235, 207, 208, 0.2) 2.36%, rgba(0, 136, 122, 0.2) 164.32%);
                        // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                        border-radius: toRem(19) 0 toRem(19) toRem(19);
                    }
                }
            }
        }
    }
}

.startChat {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;

    p {
        font-size: toRem(14);
        width: toRem(400);
        text-align: center;

    }

    img {
        width: toRem(100);
    }

}

.threedots {
    display: flex;
    gap: toRem(14);
    flex-direction: column;
    padding-top: toRem(11);
    padding-bottom: toRem(11);
    position: absolute;
    background: rgba(35, 34, 37, 0.9);
    box-shadow: 0px toRem(4) toRem(40) rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(toRem(2));
    border-radius: toRem(11);
    padding-left: toRem(18);
    width: toRem(180);
    height: fit-content;
    border: toRem(1) solid rgba(237, 81, 82, 0.18);
    top: toRem(74);
    left: toRem(965);

    button {
        width: fit-content;
        font-family: 'SF';
        font-style: normal;
        font-weight: 500;
        font-size: toRem(22);
        color: #FFFFFF;
    }

    a {
        width: fit-content;
        font-family: 'SF';
        font-style: normal;
        font-weight: 500;
        font-size: toRem(22);
        color: #FFFFFF;
    }

    .Block {
        font-weight: 500;
        color: #ED5152;
        transition: all 0.2s ease-in-out;

        transform-origin: left;

        &:hover {
            transform: scale(1.1);
            text-shadow:
                0 0 toRem(2) #a60a0a,
                0 0 toRem(2) #a60a0a;
        }
    }

    .Securite {
        font-weight: 500;
        color: #00887A;
        transition: all 0.2s ease-in-out;
        transform-origin: left;

        &:hover {
            transform: scale(1.1);
            text-shadow:
                0 0 toRem(2) #00887A,
                0 0 toRem(2) #00887A;
        }
    }



}

.threeD {
    font-weight: 500;
    color: white;
    transition: all 0.2s ease-in-out;
    transform-origin: left;

    &:hover {
        transform: scale(1.1);
        text-shadow:
            0 0 toRem(2) #ffffff,
            0 0 toRem(2) #ffffff;
    }
}

.popupChat {
    width: toRem(1201);
    height: 53.128rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99999999999;
    border-radius: toRem(40);
    position: absolute;
    left: 0;
    top: 0;
    filter: drop-shadow(0px toRem(4) toRem(40) rgba(0, 0, 0, 0.9));
}

.newGroup {
    width: toRem(354);
    height: toRem(300);
    padding: toRem(1);
    background: linear-gradient(360deg, rgba(86, 153, 174, 1) 0%, rgba(225, 82, 83, 1) 100%);
    filter: drop-shadow(0px toRem(4) toRem(40) rgba(0, 0, 0, 0.50));
    border-radius: toRem(40);

    .newGroupC {
        width: 100%;
        height: 100%;
        border-radius: toRem(40);
        background: #232225;
        display: flex;
        flex-direction: column;
        gap: toRem(22);
        padding: toRem(28);
        padding-top: toRem(25);

        .newGroupHeader {
            width: toRem(296);
            height: toRem(37);
            border-radius: toRem(19);
            background: #1C1B1D;
            color: #FFF;
            font-size: toRem(14);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contentNewGroup {
            width: toRem(296);
            height: toRem(200);
            border-radius: toRem(40);
            background: #1C1B1D;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: toRem(25);
            gap: toRem(13);

            .h1Displ {
                font-size: toRem(14);
            }

            .typeGroup {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                padding-right: toRem(30);
                justify-content: flex-start;
                width: 100%;
                gap: toRem(10);

                .theType {
                    display: flex;
                    gap: toRem(5);

                    p {
                        color: #FFF;
                        font-size: toRem(8.188);
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .checkbox {
                        width: toRem(11);
                        height: toRem(11);
                        border-radius: toRem(4);
                        border: 0.512px solid #FFF;
                        cursor: pointer;
                        transition: all 0.4s ease-in-out;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            background-color: rgba(0, 136, 122, 0.4);
                        }

                        img {
                            width: toRem(5);
                        }
                    }

                    .isTrue {

                        background-color: rgba(0, 136, 122, 1);
                    }
                }
            }


        }
    }
}

.displayIt {
    width: toRem(300);
    height: toRem(170);

    .displayitC {
        padding: 0;
    }
}

.ChatError {
    transform: translate(2.8rem, 3rem);
}

.settingHeader {
    width: 100%;
    border-radius: toRem(19);
    background: #1C1B1D;
    height: toRem(37);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: toRem(15);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.membersEdit {
    width: 100%;
    height: toRem(220);
    border-radius: toRem(40);
    background: #1C1B1D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding-top: toRem(11);
    // padding-inline: toRem(25);
    padding-bottom: 1rem;
    gap: toRem(3);

    .members {
        width: 100%;
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        gap: toRem(10);
        padding: 1rem;
        // align-items: center;
        overflow-y: auto;

        .userSection {
            width: fit-content;
            height: toRem(35);
            border-radius: toRem(40);
            background: linear-gradient(298deg, rgba(237, 81, 82, 1) 0%, rgba(0, 136, 122, 1) 100%);
            padding: toRem(1);

            .contUserSect {
                height: 100%;
                display: flex;
                align-items: center;
                gap: toRem(8.6);
                padding: toRem(6.25) toRem(10) toRem(3.93) toRem(5.38);
                width: fit-content;
                background-color: #1C1B1D;
                border-radius: toRem(40);

                p {
                    color: #FFF;
                    font-size: toRem(12);
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                img {
                    object-fit: cover;
                    width: toRem(25.034);
                    height: toRem(25.034);
                    border-radius: 50%;

                }
            }
        }
    }

    .butnsAdd {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: toRem(100);
            height: toRem(37);
            border-radius: toRem(19);
            background: #00887A;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: toRem(12);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

}

.closeMemebers {
    width: toRem(37);
    height: toRem(37);
    border-radius: 50%;
    background: rgba(32, 31, 35, 0.50);
    box-shadow: 0px 0px toRem(20) 0px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(2px);
    border: toRem(1) #ED5152 solid;
    position: absolute;
    right: 0;
    top: toRem(-7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
        width: toRem(15);
        // height: toRem(20);

    }
}

.addMember {
    width: 100%;
    height: 100%;
    border-radius: toRem(40);
    background: #1C1B1D;
    display: flex;
    flex-direction: column;
    padding: toRem(30);
    justify-content: space-between;

    h2 {
        font-size: toRem(22);
        font-style: normal;
        font-weight: 556;
        line-height: normal;
    }

}

.inputContainer2 {
    width: 100%;
    height: toRem(35);
    border-radius: toRem(40);
    background: rgb(237, 81, 82);
    background: linear-gradient(298deg, rgba(237, 81, 82, 1) 0%, rgba(86, 153, 174, 1) 100%);
    padding: toRem(1);
    display: flex;
    justify-content: center;
    align-items: center;

    input[type=text],
    input[type=password] {
        width: 100%;
        height: 100%;
        border-radius: toRem(40);
        background: rgba(18, 18, 19, 1);
        padding-left: toRem(12);
        padding-right: toRem(8);
        color: rgba(255, 255, 255, 0.70);
        font-size: toRem(11);
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}

.btnsAdding {
    display: flex;
    align-items: center;
    gap: toRem(23);
    width: 100%;
    justify-content: center;

    button {
        width: toRem(100);
        height: toRem(37);
        border-radius: toRem(19);
        background: #00887A;
        font-size: toRem(15);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.banned {
    filter: saturate(0);
}

.optionsUser {
    position: absolute;
    min-width: toRem(70);
    width: fit-content;
    background-color: #252527;
    border-radius: toRem(8);
    height: fit-content;
    padding: toRem(11);
    flex-direction: column;
    display: flex;
    gap: toRem(5);
    border: #ED5152 toRem(0.5) solid;
    top: 0;
    transform: translate(toRem(10), toRem(25));
    // padding-inline: 0;


    h3 {
        color: #FFF;
        font-size: toRem(12);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        // background-color: #252527;
        transition: all 0.2s ease-in-out;
        // width: 100%;
        // background-color: #17AFA0;
        // border-radius: toRem(10);
        // padding-inline: toRem(11);
        transform-origin: left;

        &:hover {
            transform: scale(1.1);
            text-shadow:
                0 0 toRem(2) #a60a0a,
                0 0 toRem(2) #a60a0a;
        }
    }

    .Danger {
        color: #ED5152;
    }
}

.EmojiPickerReact {
    position: relative;
}

.isAdmin {
    box-shadow: 0px 0px toRem(10) toRem(-3) #36CFBF;
}

.securiteSection {
    width: toRem(107);
    height: toRem(37);
    border-radius: toRem(19);
    background: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: toRem(14);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.securityButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: toRem(9);

    button {
        width: toRem(185);
        height: toRem(38);
        font-size: toRem(15);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00887A;
        border-radius: toRem(19);
    }

    .DeleteP {
        background-color: #ED5152;
    }
}

.inputContainer {
    width: toRem(250);
    height: toRem(35);
    border-radius: toRem(40);
    background: rgb(237, 81, 82);
    background: linear-gradient(298deg, rgba(237, 81, 82, 1) 0%, rgba(86, 153, 174, 1) 100%);
    padding: toRem(1);
    display: flex;
    justify-content: center;
    align-items: center;

    input[type=text],
    input[type=password],
    input[type=number] {
        width: 100%;
        height: 100%;
        border-radius: toRem(40);
        background: rgba(18, 18, 19, 1);
        padding-left: toRem(12);
        padding-right: toRem(8);
        color: rgba(255, 255, 255, 0.70);
        font-size: toRem(11);
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}

.buttonNewGroup {
    display: flex;
    gap: toRem(23);

    button {
        width: toRem(80);
        height: toRem(30);
        background-color: #17AFA0;
        border-radius: toRem(19);
        font-size: toRem(14);
        transition: all 0.5s ease-in-out;

        &:disabled {
            cursor: not-allowed;
            background-color: #13655d;
        }
    }

    .cancel {
        background-color: #ED5152;
    }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.muteBtn {
    width: toRem(80);
    height: toRem(30);
    background-color: #17AFA0;
    border-radius: toRem(19);
    font-size: toRem(14);
    transition: all 0.5s ease-in-out;

    &:disabled {
        cursor: not-allowed;
        background-color: #13655d;
    }

    .cancel {
        background-color: #ED5152;
    }
}