@import "../../../global.scss";
.backHome-cont {
    width: toRem(166);
    height: toRem(44);
    background: linear-gradient(to bottom, #5699AE, #E15253);
    box-shadow: 0px toRem(4) toRem(40) rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(toRem(2));
    border-radius: toRem(15);
    padding: toRem(1);

    .backHome {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: toRem(10);
        background-color: #2D292C;
        border-radius: toRem(15);

        svg {
            position: relative;
            opacity: 1;
        }

        p {
            font-family: 'SF';
            font-style: normal;
            font-weight: 400;
            font-size: toRem(17);
            color: #F9C690;
        }

    }
}