@import "../../.././global.scss";

.logoo {
    width: toRem(80);
    height: toRem(80);
}

.bar-left {
    display: flex;
    position: relative;
    height: fit-content;
    margin: auto 0;
    margin-left: 1.4375rem;
    margin-top: toRem(23);
}

.left-bar-container {
    height: 59rem;
    width: toRem(118);
    border-radius: toRem(40);
    padding: toRem(1);
    background: linear-gradient(to bottom, #5699AE, #E15253);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    // margin: toRem(23);
    // position: fixed;

}

.left-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(47, 45, 53);
    border-radius: toRem(40);
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    // box-shadow: 0 0 20px 2px rgba(0, 136, 122, 0.2);
    padding: toRem(35) 0 0;
    background: #332A2E;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: toRem(72);
    width: 100%;
    height: fit-content;

    a {
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        &::before {
            content: "";
            background-image: url("./nav-hov.svg");
            background-size: cover;
            width: toRem(5);
            height: toRem(40);
            position: absolute;
            left: 0rem;
            display: none;
        }

        img {
            z-index: 1 !important;
            // width: toRem(21.5);
            // height: auto;
        }

        &:hover {
            &::before {
                display: block;
                animation: fadeTRA 700ms ease-in-out;

            }
        }
    }
}

.active {
    @include backblur(toRem(35), toRem(35), #E15253);
}

.desactive {
    @include backblur(toRem(35), toRem(35), #37BEB0);
}

.logout {
    display: flex;
    justify-content: center;
    padding-top: toRem(40);
    border-top: 2px solid #22252B;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: toRem(110);
    width: 100%;

    img {
        width: auto;
    }


}

@keyframes fadeTRA {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}