@import "../../../global.scss";

.main {
    display: flex;
    flex-direction: row;
    // padding-top: toRem(23);
    // padding-left: toRem(68);
    padding-right: toRem(34);
    width: 100%;
    // margin: auto 0;
    // margin-left: toRem(95);
    // gap: 4.5rem;
    height: fit-content;
    justify-content: space-between;
    margin-top: toRem(20);
    width: toRem(1722.2);

}

.side1 {
    display: flex;
    flex-direction: column;
    // gap: toRem(62);
    height: fit-content;
    // width: 75.0625rem;
    // overflow-x: visible;
    // overflow-y: hidden;

}

.top {
    display: flex;
    align-items: center;
    width: toRem(1201);
    gap: 42.875rem;
    margin-bottom: 3.875rem;
    /* position: fixed; */
    z-index: 100;
    // height: toRem(49);

}

.main-core {
    display: flex;
    flex-direction: column;
    /*margin-top: toRem(111);*/
}

.title-h1 {
    font-family: 'SF';
    font-style: normal;
    font-weight: 600;
    font-size: toRem(29);
    line-height: toRem(35);
    color: #F9C690;
}

.box-box-cont {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: toRem(41);
    width: fit-content;
}

.box-cont {
    display: flex;
    flex-direction: row;
    margin-top: toRem(25);
    gap: toRem(45);
    width: 100%;
}

.side2 {
    display: flex;
    flex-direction: column;
    position: relative;
    /* position: fixed;
    left: toRem(1433);*/
    // height: toRem(958);
}

.bp-cont {
    padding-top: toRem(5);
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    height: 100%;

    .bp {
        display: flex;
        flex-direction: column;
        padding-top: toRem(5px);
        /* align-items: center;*/
        gap: toRem(15);
        margin: toRem(19) 0 toRem(12) toRem(16);
        height: 100%;

        .bp-head {
            display: flex;
            flex-direction: row;
            /*  justify-content: center;*/
            align-items: center;
            // gap: toRem(120);
            gap: toRem(240);
            padding-left: toRem(27);
            padding-right: toRem(61);
            width: 100%;

            .head- {
                display: flex;
                flex-direction: row;
                gap: toRem(88);

                h3 {
                    font-family: 'SF';
                    font-weight: 800;
                    font-size: 1rem;
                    color: #727171;
                    text-transform: uppercase;
                }
            }
        }

        .rank {
            display: flex;
            width: 100%;
            height: 80%;
            justify-content: flex-start;
            flex-flow: column wrap;
            gap: toRem(16);
            align-items: center;
            column-gap: 8.5rem;

            >div:nth-child(odd) {
                background-color: #363336;
            }

            >div:nth-child(even) {
                background-color: #2C2A2C;
            }

            .bpplayer {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding-left: toRem(13.35);
                gap: toRem(21.6);
                width: toRem(516);
                height: toRem(55);
                flex-basis: toRem(60);
                box-shadow: 0px toRem(4) toRem(30) rgba(0, 0, 0, 0.15);
                border-radius: toRem(21);

                &::after {
                    content: "";
                    background: linear-gradient(89.74deg, #2ABAAB -9.19%, rgba(43, 188, 173, 0) 87.22%);
                    opacity: 0.2;
                    filter: drop-shadow(0px 0.25rem 1.875rem rgba(0, 0, 0, 0.15));
                    border-radius: 1.3125rem 0px 0px 1.3125rem;
                    width: toRem(478);
                    height: toRem(60);
                    transform: rotate(180deg);
                    position: absolute;
                    transform: translate(1.5rem) rotate(180deg);
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: toRem(111);
                    height: toRem(60);
                    background: linear-gradient(93.06deg, #ED5152 -6.39%, rgba(237, 81, 82, 0) 85.74%);
                    opacity: 0.6;
                    filter: drop-shadow(0px toRem(4) toRem(30) rgba(0, 0, 0, 0.15));
                    border-radius: toRem(21) 0px 0px toRem(21);
                    transform: translate(-0.8rem);
                }

                .badgerank {
                    width: toRem(47);
                    height: toRem(56);
                    filter: drop-shadow(toRem(5.48449) toRem(5.48449) toRem(10) rgba(0, 0, 0, 0.1));
                    margin-right: toRem(17.12);
                    top: toRem(6);
                    position: relative;
                }

                .avatar {
                    width: toRem(35.82);
                    height: toRem(35.82);
                    border-radius: toRem(10);
                }

                p {
                    font-family: 'SF';
                    font-style: normal;
                    font-weight: 800;
                    font-size: toRem(14);
                    text-transform: uppercase;
                    color: #FFFFFF;
                    width: toRem(75);

                    span {
                        font-family: 'SF';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 0.45rem;
                        text-transform: uppercase;
                        color: #FFFFFF;
                    }
                }

                .point {
                    margin-left: toRem(14);
                    width: 7.5rem;
                }

                .ratings {
                    width: toRem(47);
                    height: toRem(21);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(41, 39, 43, 0.8);
                    box-shadow: inset 0px 0px toRem(2) rgba(0, 0, 0, 0.25);
                    border-radius: toRem(7);
                    font-family: 'SF';
                    font-style: normal;
                    font-weight: 500;
                    font-size: toRem(14);
                    text-transform: uppercase;
                    color: #22BFAF;
                    // margin-left: toRem(74);

                }

            }
        }

    }
}

.trophet {
    width: 12rem;
    position: absolute;
    // transform: translate(28rem, -7rem);
    transform: translate(toRem(508), toRem(44));
}

.activity {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: toRem(20);
    padding-top: toRem(32);

    .activity-head {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-right: toRem(27);
        justify-content: end;
    }

    .activity-footer {
        display: flex;
        border-top: toRem(1) solid #414144;
        width: 100%;
        height: toRem(58);
        justify-content: center;
        align-items: center;
        gap: toRem(12);
        font-family: 'SF';
        font-style: normal;
        font-weight: 400;
        font-size: toRem(13);
        color: #FFFFFF;

        svg {
            position: relative;
        }
    }

    .activity-content {
        display: flex;
        flex-direction: column;
        gap: toRem(10);
        width: 100%;
        padding-left: toRem(28);
        padding-right: toRem(28);
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .activity-x {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-right: toRem(18);
            padding-left: toRem(15);
            padding-top: toRem(13);
            padding-bottom: toRem(13);
            width: toRem(342);
            height: toRem(59);
            background: rgba(57, 54, 56, 0.65);
            box-shadow: 0px toRem(3) toRem(15) rgba(0, 0, 0, 0.1);
            border-radius: toRem(20);

            .part1 {
                display: flex;
                align-items: center;
                gap: 1.375rem;
            }

            img {
                width: toRem(32);
                height: toRem(32);
                border-radius: toRem(10);
            }

            p {
                font-family: 'SF';
                font-style: normal;
                font-weight: 500;
                font-size: toRem(15);
                line-height: toRem(18);
                color: #F9C690;

                span {
                    font-family: 'SF';
                    font-style: normal;
                    font-weight: 500;
                    font-size: toRem(15);
                    line-height: toRem(18);
                    color: #FFFFFF;
                }
            }

            .time-act {
                position: relative;
                font-family: 'SF';
                font-style: normal;
                font-weight: 300;
                font-size: toRem(9);
                color: #00887A;
                position: relative;
                top: toRem(17);
            }
        }
    }
}

.button-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: toRem(2);
    background: rgba(14, 14, 14, 0.2);
    box-shadow: inset 0px 0px toRem(4) rgba(0, 0, 0, 0.25);
    border-radius: toRem(7);
    position: relative;

    .switch-back {
        position: absolute;
        width: toRem(81);
        height: toRem(24);
        background: linear-gradient(238.62deg, #00887A 30.68%, #F9C690 237.48%);
        box-shadow: 0px 0px toRem(15) rgba(27, 143, 125, 0.5);
        border-radius: toRem(5);
        z-index: 40;
        left: toRem(2);
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'SF';
        font-style: normal;
        font-weight: 400;
        font-size: toRem(12);
        color: #FFFFFF;
        z-index: 55;
    }

    .all-btn {
        width: toRem(81);
        height: toRem(24);
        // background: linear-gradient(238.62deg, #00887A 30.68%, #F9C690 237.48%);
        // box-shadow: 0px 0px toRem(15) rgba(27, 143, 125, 0.5);
        border-radius: toRem(5);
    }

    .friends-btn {
        width: toRem(81);
        height: toRem(24);
        // background: linear-gradient(238.62deg, #00887A 30.68%, #F9C690 237.48%);
        // box-shadow: 0px 0px toRem(15) rgba(27, 143, 125, 0.5);
        border-radius: toRem(5);
    }
}

.friend-active-btn {
    left: toRem(82);
    animation: friendActive 0.1s ease-in 0s 1 normal forwards;
}

.all-active-btn {
    left: toRem(2);
    animation: allActive 0.1s ease-in 0s 1 normal forwards;
}

@keyframes allActive {
    0% {
        left: toRem(82);
    }

    100% {
        left: 0.125rem;
    }

}

@keyframes friendActive {
    0% {
        left: 0.125rem;
    }

    100% {
        left: toRem(82);
    }

}

.invitation-container {
    position: absolute;
    display: flex;
    width: fit-content;
    height: fit-content;
    bottom: 0;
    z-index: 1001;

    &::after {
        content: '';
        width: toRem(398);
        position: absolute;
        height: toRem(518);
        background: linear-gradient(179.93deg, rgba(0, 0, 0, 0) 12.51%, #101010 159.13%);
        z-index: 999;
        top: toRem(-503);
    }
}

.invitation {
    display: flex;
    flex-direction: column;
    gap: toRem(29);
    padding: toRem(23.6);
    z-index: 100;

    .invitation-content {
        width: 100%;
        display: flex;
        gap: toRem(21.13);
        align-items: center;

        .img-invitation {
            width: toRem(50.25);
            height: toRem(50.25);
            border-radius: toRem(10);
        }

        p {
            font-family: 'SF';
            font-style: normal;
            font-weight: 500;
            font-size: toRem(11);
            line-height: toRem(13);
            color: #FFFFFF;
            width: toRem(284);
        }
    }

    .footer-onvitation {
        width: 100%;
        display: flex;
        gap: toRem(17.59);
        justify-content: center;
        align-items: center;
    }
}

.SlideButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .sliderA {
        position: absolute;
        width: toRem(28.9);
        height: toRem(28.9);
        background: #00887A;
        border-radius: toRem(20);
        left: toRem(-5);
        display: flex;
        justify-content: flex-end;
        padding-right: toRem(6);
        align-items: center;
        z-index: 1;
    }

    .sliderD {
        position: absolute;
        width: toRem(28.9);
        height: toRem(28.9);
        background: #ED5152;
        border-radius: toRem(20);
        left: toRem(-5);
        display: flex;
        justify-content: flex-end;
        padding-right: toRem(7.54);
        align-items: center;
        z-index: 1;
    }

    .slider-accept {
        animation: circleInvitation 0.2s ease-in 0s 1 normal forwards;
    }

    .slider-decline {
        animation: circleInvitationD 0.2s ease-in 0s 1 normal forwards;
    }

    .btnslide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: toRem(90.46);
        height: toRem(28.9);
        background: #222122;
        box-shadow: inset 0px 0px toRem(6) rgba(0, 0, 0, 0.25);
        border-radius: toRem(20);

        .button-text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: transparent;
            font-family: 'SF';
            font-style: normal;
            font-weight: 500;
            font-size: toRem(10);
            color: #FFFFFF;
            z-index: 0;
        }
    }
}

@keyframes circleInvitation {
    0% {
        left: -0.3125rem;
    }

    100% {
        left: toRem(69);
    }
}

@keyframes circleInvitationD {
    0% {
        left: -0.3125rem;
    }

    100% {
        left: toRem(69);
    }
}

.close-invi {
    position: absolute;
    left: toRem(376);
    top: toRem(14);
    cursor: pointer;
}

.gamesmodeCont {
    width: 76.2rem;
    overflow: hidden;
    // overflow-y: visible;
    // gap: 0;
    padding-left: toRem(50);
    padding-right: toRem(50);
    position: relative;
    left: toRem(4);
}

.prev-btn {
    position: absolute;
    top: -9.75rem;
    left: toRem(-597);
}

.next-btn {
    position: absolute;
    top: -9.75rem;
    left: 32.3rem;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
    position: absolute;
}