$color-1 : #713D41;
$color-2 : #27262A;
$color-3 : #F9C690;
$my-red : #ED5152;
$my-blue : #00887A;
@use "sass:math";
@mixin flex-col()
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin backblur($w, $h, $color)
{

}
@function toRem($value) {
    // $remValue: ($value / 16) + rem; 
    $remValue: math.div($value, 16);
    $return-v : $remValue + rem;
    @return $return-v;
}